@import "../../variables";
@import "../../mixins";

header {
  background-color: $dark_blue;
  padding: 15px 20px;

  .wrap {
    @include block_layout;

    .logoWrap {
      width: 120px;
    }
  }
}