@import "../../variables";

header {
  background-color: $dark_blue;
  padding: 15px 20px;

  .wrap {
    width: 100%;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;

    .logo {
      width: 120px;
    }
  }
}